body{
    background-color: rgb(28, 25, 25) !important;
}

#changePassPage{
    margin-top: 140px;
}

#changePassPage .user-img{
    width: 218px;
    height: 218px;
    margin-right: 60px;
}

#changePassPage .user-img img{
    width: 100%;
}

#changePassPage .user-infor{
    color: white;
    line-height: 60px;
}

#changePassPage .name{
    font-size: 39px;
}


#changePassPage .role{
    font-size: 29px;
}

#changePassPage .kcoins{
    font-size: 29px;
}

#changePassPage .user-function{
    margin-top: 40px;
}


#changePassPage .user-contact input{
    background: none;
    border: none;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
}

#changePassPage .main-information input{
    
}

#profilePage .change-password input{
    color: rgb(109, 174, 21);
}

#changePassPage .user-more-infor{
    position: relative;
    color: white;
    height: 300px;
    margin-top: 5px;
}

#changePassPage .user-more-infor input{
    width: 339px;
    height: 40px;
    background-color: rgb(54, 51, 51);
    border: 0.2px solid rgb(93, 135, 32);
    outline: none;
}

#changePassPage .user-old-password{
    position: absolute;
    top: 0%;
    left: 0%;
}



#changePassPage .user-confirm-password{
    position: absolute;
    bottom: 50%;
    right: 10%;
}


#changePassPage .user-new-password{
    position: absolute;
    bottom: 50%;
    left: 0%;
}

