body{
    background-color: rgb(28, 25, 25) !important;
}

#join-rent .game-title{
    margin-top: 40px;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}


#join-rent .advertisement a{
    padding: 2px;
}

#join-rent .advertisement{
    margin-bottom: 50px;
}


#join-rent .rent-it-out-list{
    padding: 2px;
    background-color: rgb(54, 51, 51);
    height: 487px;
    position: relative;
    padding-top: 0;
    border-radius: 6px;
}


#join-rent .rent-it-out-list-table::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(54, 51, 51);
    border-radius: 10px;
}


#join-rent .rent-it-out-list-table::-webkit-scrollbar-thumb {
    background-color: rgb(116, 186, 21);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
    transition: 0.8s ease;

}

#join-rent .rent-it-out-list-table::-webkit-scrollbar-track {
    background-color: rgb(54, 51, 51);
    border-radius: 10px;
}

#join-rent .rent-it-out-list-table::-webkit-scrollbar-thumb:hover {
    background-color: rgb(140, 222, 25);
}



#join-rent .rent-it-out-list-table{
    color: white;
    overflow-y: auto;
    height: 456px;

}

#join-rent .rent-it-out-list-table tbody{


}

#join-rent .rent-it-out-list-table table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
}


#join-rent .rent-it-out-list-table thead{
    background-color: rgb(43, 38, 38);
    position: sticky;
    top: 0;
}

#join-rent .rent-it-out-list-table tr td{
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

#join-rent .rent-it-out-list-table tr td:first-child{
    border: none;
}

#join-rent .rent-it-out-list-table tr td:last-child{
    border: none;
}

#join-rent .Rent{
    width: 100px;
    margin: 5px 0;
    border-radius: 20px;
    background-color: rgb(98, 159, 17);
    color: white;
    transition: 0.5s ease;
    border: none;
}

#join-rent .Rent:hover{
    background-color: rgb(133, 218, 22);
    transform: scale(1.1);
}

#join-rent .join-rent-but{
    position: absolute;
    right: 0%;
    bottom: -4%;
    z-index: 10;
}

#join-rent .join-rent-but input{
    width: 153px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(65, 61, 61);
    border: none;
    color: white;
    transition: 0.8s ease;
}

#join-rent .join-rent-but input:hover{
    background-color: rgb(106, 171, 18);
    transform: scale(1.05);
}









#join-rent .game-about{
    padding: 0;
}

#join-rent .about-img{
    margin-left: 100px;
}

#join-rent .about-img img{
    padding: 2px;
    width: 460px;
    height: 194px;
}

#join-rent .about-content{
    margin-left: 100px;
    margin-top: 10px;
}

#join-rent .about-content p{
    padding: 2px;
    text-align: justify;
    color: white;
}

#join-rent .buy-game{
    margin-left: 100px;
    position: relative;
}

#join-rent .buy-card{
    padding: 2px;
    background: linear-gradient(to right, rgb(63, 62, 62,1),rgb(154, 151, 151));
    height: 70px;
    border-radius: 5px;

}


#join-rent .buy-card-title{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

#join-rent .more-infor-buy{
    display: flex;
    position: absolute;
    bottom: -28%;
    right: 5%;
    background-color: rgb(28, 25, 25);
    height: 40px;
    border-radius: 5px;
}

#join-rent .buy-price{
    width: 110px;
    color: white;
    text-align: center;
    padding-top: 8px;
}

#join-rent .more-infor-buy input{
    border-radius: 5px;
    border: 3px solid rgb(28, 25, 25);
    width: 100px;
    background: linear-gradient(to right, rgb(54, 87, 9), rgb(109, 176, 19));
    color: white;
}


#join-rent .rent-game{
    margin-top: 30px;
    margin-left: 100px;
    position: relative;
}

#join-rent .rent-it-out{
    margin-top: 30px;
    margin-left: 100px;
    position: relative;
}

#join-rent .rent-card{
    padding: 2px;
    background: linear-gradient(to right, rgb(63, 62, 62,1),rgb(154, 151, 151));
    height: 70px;
    border-radius: 5px;
}

#join-rent .rent-card-title{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

#join-rent .more-infor-rent{
    display: flex;
    position: absolute;
    bottom: -28%;
    right: 5%;
    background-color: rgb(28, 25, 25);
    height: 40px;
    border-radius: 5px;
}

#join-rent .rent-price{
    width: 110px;
    color: white;
    text-align: center;
    padding-top: 8px;
}

#join-rent .more-infor-rent input{
    border-radius: 5px;
    border: 3px solid rgb(28, 25, 25);
    width: 100px;
    background: linear-gradient(to right, rgb(97, 34, 7), rgb(217, 77, 16));
    color: white;
}

#join-rent .rent-it-out-card{
    padding: 2px;
    background: linear-gradient(to right, rgb(63, 62, 62,1),rgb(154, 151, 151));
    height: 70px;
    border-radius: 5px;
}

#join-rent .rent-it-out-card-title{
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

#join-rent .more-infor-rent-it-out{
    display: flex;
    position: absolute;
    bottom: -28%;
    right: 5%;
    background-color: rgb(28, 25, 25);
    height: 40px;
    border-radius: 5px;
}

#join-rent .rent-it-out-price{
    width: 110px;
    color: white;
    text-align: center;
    padding-top: 8px;
}

#join-rent .more-infor-rent-it-out input{
    border-radius: 5px;
    border: 3px solid rgb(28, 25, 25);
    width: 100px;
    background: linear-gradient(to right, rgb(61, 9, 98), rgb(123, 17, 199));
    color: white;
}

#join-rent .body-game-page{
    margin-bottom: 120px;
}