

.slide-show{
    overflow: hidden;
    width: 100%; /* Chiều rộng của slideshow */
    height: 100%;
    position: relative;
}

.list-items{
    display: flex; /* Sử dụng flexbox để sắp xếp các mục theo hàng */
    transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển động */
    width: 100%; 
    position: relative;
    
}

.items{
    min-width: 100%; /* Chiều rộng tối thiểu của từng item */
    transition: opacity 0.5s ease; /* Thêm hiệu ứng mờ */
    position: relative;
}

.list-items img{
    width: 100%;
    height: 100%;
}

.more-infor-items{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.7) 70%,rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
    width: 650px;
    height: 1000px;
    color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    padding-left: 50px;
    padding-top: 120px;
    
}

.items-infor{
    margin-bottom: 60px;
}

.items-infor h1{
    font-size: 50px;
}

.items-infor p{
    font-size: 15px;
}

.items-choice{
    font-size: 30px;
    margin-bottom: 50px;
}

.items-choice input{
    appearance: none; /* Loại bỏ giao diện mặc định của radio button */
    border-radius: 100px;
    width: 20px;
    height: 20px;
    transform: scale(1.5);
    background-color: rgb(255, 255, 255);
}

.items-choice input[type="radio"]:checked{
    width: 20px;
    height: 20px;
    transform: scale(1.5);
    background-color: rgb(149, 149, 149);
    border: solid white;
    transition: 0.7s ease;
}
.items-choice div{
    transition: 0.7s ease;
    margin-right: 300px;
    padding-left: 20px;
    height: 55px;
}

.items-choice div:has(input[type="radio"]:checked) {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.for-buy{
}

.buy{

}
.for-rent{
    
}
.rent{

}
.infor-more{
    display: flex;
}
.ready{

}
.more-infor{
    display: flex;
    justify-content: center;
}
.more-infor input{
    
}
.ready{
    font-size: 30px;
    margin-right: 20px;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(98, 33, 5), rgb(228, 75, 9));
    border: none;
}
.more-infor{
    padding-top: 10px;
}
.more-infor-img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background: linear-gradient(to right, rgb(231, 80, 12),rgb(116, 186, 21));
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-top: 2px;
}
.more-infor-img img{
    height: 20px;
    width: 20px;
}
.infor{
    padding-top: 3px;
    width: 500px;
}

.button-left-right{ 
    display: flex;
    justify-content: center;
    z-index: 2;
    position: absolute;
    font-size: 90px;
    color: rgb(116, 186, 21);
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.6s ease;
}
.but{
    transition: 0.6s ease;
}
.but:hover{
    color: white;
}

.button-left{
    cursor: pointer;
    left: 0;
    margin-right: 90px;
}

.button-right{
    cursor: pointer;
    right: 0;
}
.index-items{
    position: absolute;
    top: 5.3%;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.item-check{
    width: 15px;
    height: 15px;
    border: 2px solid rgb(116, 186, 21);
    margin: 12px;
    border-radius: 100px;
    transition: 0.5s ease;
}
.action{
    background-color: rgb(116, 186, 21);
}