.footter-card{
    background-color: rgb(28, 25, 25);
    position: relative;
    border-top: solid rgb(116, 186, 21);
}
.footter-left{
    background-color: rgb(28, 25, 25);
    padding-top: 60px;
    height: 350px;
    display: flex;
}
.footer-right{
    background-color: rgb(32, 31, 30);
    margin-left: 600px;
    position: absolute;
    bottom: 0%;
    right: 10%;
    height: 350px;
    width: 650px;
    padding-top: 25px;
}


.infor{
    margin-left: 70px    
}

.copy-right{
    color: rgb(156, 154, 154);
    margin-top: 18px;
}

.contact-1{
    display: flex;
}

.about{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 190px;
    /* border-right: solid linear-gradient(to, right, black 20%, rgb(44, 53, 31) 80%); */
}
.border-high-light{
    
    width: 2px;
    height:  325.5px;
    background-color: rgb(44, 53, 31);
    margin-right: 0;
}
.about a{
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    
}

.social-network{
    padding-left: 50px;
    justify-content: center;
}

.social-network a{
    text-decoration: none;
    color: white;
}
.network{
    display: flex;
    margin-bottom: 25px;
    
}
.network div{
    margin-left: 10px;
}

.orther-contact{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
.orther-contact a{
    margin-bottom: 15px;
}

.test{
    background-color: black;
}