body{
    background-color: rgb(28, 25, 25) !important;
}
.khoang_cach{

}

.top-game{
    margin-top: 50px;
    background-color: rgb(28, 25, 25) !important;
}
.game-top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}
.trending-game{
    margin-top: 30px;
}
.game-trending{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.top-game-items {
    position: relative;
}

.top-game-price{
    text-align: center;
    position: absolute;
    bottom: 2%;
    right: 5%;
    color: black;
    background-color: rgba(255, 255, 255,0.4);
    border-radius: 50px;
    width: 80px;
    font-weight: 600;
}

.trending-title{
    margin-top: 80px;
    color: white;
    text-decoration: none;
    font-size: 30px;

}

.trending-game-items{
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-items{
    margin-bottom: 4px;
    width: 240px;
    height: 144.15px;

}

.img-items img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.trending-more-infor-items{
    display: flex;
    justify-content: space-between;
}

.featurated-more-infor-items{
    display: flex;
    justify-content: space-between
}
.infor-items div{
    color: white;
    font-size: 10px;
    font-weight: 10;
}


.items-name{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.date{

}
.more-infor{

}
.item-price{
    display: flex;
    flex-direction: column;

}
.item-price a{
    text-decoration: none;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
}
.trending-for-buy{
    background-color: rgb(225, 75, 11);
    margin-bottom: 5px;
    width: 80px;
}
.trending-for-rent{
    background-color: rgb(116, 186, 21);
    width: 50px;
    margin-left: 30px;
}

.featurated-for-buy{
    background-color: rgb(225, 75, 11);
    margin-bottom: 5px;
    width: 80px;
}
.featurated-for-rent{
    background-color: rgb(116, 186, 21);
    width: 50px;
    margin-left: 30px;
}

.game-featurated{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.featurated-title{
    margin-top: 80px;
    color: white;
    text-decoration: none;
    font-size: 30px;

}

.featurated-game-items{
    margin-bottom: 20px;
    margin-top: 20px;
}

#buy-rent-online-game{
    color: white;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#buy-rent-online-game .title h1{
    font-size: 60px;
}

#buy-rent-online-game .subtitle{
    margin-top: 30px;
    font-size: 20px;
}

#buy-rent-online-game .learn-more{
    margin-top: 50px;
}

#buy-rent-online-game .learn-more input{
    text-align: center;
    width: 200px;
    height: 45px;
    font-size: 25px;
    border-radius: 100px;
}

#buy-rent-online-game .more-infor-img {
    position: relative;
}

#buy-rent-online-game .main-img img {
    width: 100%; /* Đảm bảo ảnh chính hiển thị đầy đủ */
}

#buy-rent-online-game .sup-img {
    position: absolute;
    bottom: 10px; /* Điều chỉnh vị trí trên của ảnh phụ */
    left: 10px; /* Điều chỉnh vị trí trái của ảnh phụ */
}

#buy-rent-online-game .sup-img img:nth-child(2) {
    margin-left: 60px;
}
#buy-rent-online-game .sup-img img:nth-child(1){
    margin-left: 30px;
}

#body-infor-img{
    background-image: url(/web/assets/img/body-infor-background.png);
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
#body-infor-img .content{
    padding-top: 150px;
    font-size: 80px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

#leader-board{
    margin-top: 50px;
    margin-bottom: 50px;
}

#leader-board .row{
    display: flex;
    justify-content: space-between;
    margin-left: 190px;

}
#leader-board h1{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

#leader-board .card{
    width: 342px;
    height: 446.61px;
    overflow: hidden;
    background-color: rgb(54, 51, 51);
    border-radius: 15px;
}

#leader-board .head-card{
    background: linear-gradient(to right, rgb(175, 88, 19), rgb(56, 84, 9) );
    width: 342px;
    height: 110.51px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    color: white;
    overflow: hidden;
}

#leader-board .head-content{
    margin-top: 20px;
    margin-left: 20px;
}

#leader-board .content-card{
    height: 336.1px;
    background-color: rgb(54, 51, 51);
}

#leader-board .name-card{

    font-size: 25px;
    font-weight: bold;
}

#leader-board .icon-card{
    margin-top: 50px;
    transform: scale(0.7);
}
